@import 'src/shared/styles/vars.scss';
@import 'src/shared/styles/mixins.scss';

.container {
    padding: 0 $indentLayout $indentLayout $indentLayout;
    @include ipadLg {
        padding: 0 $indentLayoutIpad $indentLayoutIpad $indentLayoutIpad;
    }
    @include iPhones {
        padding: $indentLayoutPhone;
    }
}

.contentWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $indentXL;
    text-align: center;
}

.contactMsg {
    max-width: 800px;
    font-size: $fsTextMdPlus;
    @include iPhones {
        font-size: $fsTextMd;
    }
}

.lightText {
    color: $cLight;
}

.link {
    @include yellowText;
    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
    }
}

.mail {
    font-size: $fsTextL;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: $indentLow;
    &:hover,
    &:focus,
    &:active {
        & > * {
            color: $cYellow;
            fill: $cYellow;
        }
    }
    @include iPhones {
        font-size: $fsTextMdPlus;
    }
}

.mailIcon {
    fill: $cLight;
}
