@import "src/shared/styles/vars.scss";

.titleContainer {
  display: flex;
  gap: $indentLow;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: $indentL;
}

.stackContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: $indentXS;
}

.img {
  fill: $cYellow
}