@import "src/shared/styles/vars.scss";

.container {
  padding: $indentLayout $indentLayout 0 $indentLayout;
}

.titleWrap {
  display: flex;
  align-items: center;
  gap: $indentL;
}

.line {
  flex-grow: 1;
}

.positionsWrap {
  margin-top: $indentL;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $indentSm;
}