@import 'src/shared/styles/vars.scss';

.wrapper {
    position: relative;
    overflow: hidden;
}

.slotWrapper {
    width: fit-content;
    height: fit-content;
    opacity: 0;
    transition: calc($baseTransitionDuration * 3) ease;
    transform: translateY(75px) translateZ(0);
}

.slotWrapperEndAnimation {
    transform: none;
    opacity: 1;
}

.animationDiv {
    position: absolute;
    transition: calc($baseTransitionDuration * 2) ease;
    inset: calc($indentLow / 2) 0 calc($indentLow / 2) 0;
    background: $cYellow;
    z-index: $zIndexPlus;
}

.animationDivEnd {
    inset: calc($indentLow / 2) 0 calc($indentLow / 2) 100%;
}
