//widths
$sidebarWidth: 60px;
$headerHeight: 80px;

//zIndexes
$sidebarZIndex: 3;

//colors
$cDarkGray: #080808;
$cGray: #111;
$cLightGray: #232323;
$cLight: #ebecf3;
$cLines: rgba(235, 236, 243, 0.3);
$cYellow: #FFD700;
$cDisabled: #EBEBE4;

//border radius
$brDefault: 6px;

//font-sizes
$fsXS: 12px;
$fsSm: 14px;
$fsTextDefault: 16px;
$fsTextMd: 18px;
$fsTextL: 22px;
$fsTextXL: 26px;
$fsTextXXL: 32px;
$fsTextEXL: 48px;

//dimensions
$ipadLg: 1000px;
$ipadSm: 700px;
$phones: 500px;

//indents
$indentLayout: 36px;

$indentXXL: 46px;
$indentXL: 32px;
$indentL: 24px;
$indentMd: 20px;
$indentSm: 16px;
$indentXS: 12px;
$indentLow: 6px;