@import "src/shared/styles/vars.scss";
@import "src/shared/styles/mixins.scss";

.container {
  width: $sidebarWidth;
  background: $cDarkGray;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  z-index: $sidebarZIndex;
  position: fixed;
  top: 0;
  left: 0;
  @include iPhones {
    position: sticky;
    height: 100svh;
    overflow-y: scroll;
  }
}

.logoSection {
  width: 100%;
  height: $headerHeight;
  min-height: $headerHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logoWrap {
  background: $cLightGray;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $brDefault;
}

.logoText {
  color: $cLight;
  font-size: $fsTextL;
  font-family: 'Birthstone', cursive;
}

.nav {
  display: flex;
  flex-direction: column;
}

.linkWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  transition: .3s linear;
  &:hover, &:focus, &:active {
    border-right: 1px solid $cYellow;
    background: $cGray;
    opacity: 1;
  }
}

.link {
  color: $cLight;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  padding: $indentMd 0;
}

.highlighted {
  border-right: 1px solid $cYellow;
  background: $cGray;
  opacity: 1;
}