@import 'src/shared/styles/vars.scss';
@import 'src/shared/styles/mixins.scss';

.container {
    background: $cGray;
    color: $cLines;
    padding: $indentL $indentL $indentL $sidebarWidth;
    text-align: center;
    font-size: $fsSm;

    @include iPhones {
        padding: $indentMd $indentMd $indentMd $sidebarWidth;
    }
}
